header.masthead {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-size: cover; /* Ensures the background image covers the entire header */
    background-position: center; /* Centers the background image */
    height: 200px; /* Adjust the height of the header */
}


.title{
    margin-bottom: 3px;    
    margin-left: -170px;
}

.p{
    margin: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: -155px;
}

.second{
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    text-decoration: underline;
    margin-left: -170px;
}

.place{
    margin: 0px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: -170px;
    margin-top: 10px;

}

ul{
    margin: 0px;
    margin-left: -140px;
}
